
  <table>
    <thead>
    <tr>
      <th>URL</th>
      <th>email</th>
      <th>Phone number</th>

      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><%=@site.url%></td>

<td><%=@site.email%></td>

<td><%=@site.phone_number%></td>
    </tr>
    </tbody>
</table>