

<div class="form">
  <p>RAILS ASSIGNMENT</p>
  <p>WELCOME USER! YOU are a role</p>
  <%= form_for(:site_details) do |f| %>
    <div class="field">
      <%= f.label :"ENTER URL"%> <br/>
      <%= f.text_field :url %>
    </div>
    <div class="submit-url">
      <%= f.submit "GET PHONE NUMBER AND EMAIL"%>
    </div>


  <% end %>
</div>


